body {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Oswald', sans-serif;
}


.fundo-imagem {
    background-image: url(img/meuTreinoBackgroundHome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    background-position: 55% 0;
    
}

/* banner home */

.banner__container {
    flex-direction: column;
    height: 80%;
  
}

.banner__conteudo {
    background-color: #00000077;
    color: #fff;
    padding: 1.3em;
    margin-top: 2em;
}


/* treinos */

.cartao-treino {
    width: 22rem;
   
    box-sizing: border-box;
    margin-right: 1em;
}

.cor-A {
    background-color: rgba(32, 178, 170, 0.1);
    border: none;
}

.cor-B {
    background-color: rgba( 0, 0, 205, 0.1);
    border: none;
}

.cor-C {
    background-color: rgba( 150, 165, 0, 0.1);
    border: none;
}


.cartao-treino__espacamento {
    margin-top: 1em;
}

.bloco-cards-treinos {
    margin-bottom: 3em;
}

.cartao-treino_lista {
    list-style-type: none;
    padding-left: 0;
}

.cartao-linha:before {
    content: url(img/seta.svg);
    padding-right: .7em;

}

.cartao-linha {
    cursor: pointer;
}

/* modal */

.modal-treino-area {
    width: 22rem;
}

.carousel__conteudo{
    height: 45vh;
    vertical-align: middle;
}

.carousel__imagem {
    object-fit: cover;
    width: 100%;
}

/* footer */
.rodape {
    background-color: #00000077 ;
    text-align: center;
    padding: 1em;
    margin-bottom: 0;
    color: #fff;
    font-weight: 200;
  
    display: block;
    width: 100%;
}

.rodape p {
    margin-bottom: 0;
}